.pagetitle
{
  color:red;
  font-size: 14px;
  font-family: 'Roboto, sans-serif';
}
.cardtitle
{
    color:red;
    font-size: 14px;
    font-family: 'Roboto, sans-serif';
}
.details
{
    /*color:red;*/
    font-size: 12px;
    font-family: 'Roboto, sans-serif';
}

.page-header-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}