.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color:red;
  color:white
}

h1{
	color:red;
}
div
{
	margin-bottom:10px
}
.input{
	width:300px;
}
img{
  width:300px;
}
.imagecontainer
{
  text-align: left;
}
.stacks
{
  width:70%;
  margin:50px auto;
}
label{
  color:red;
  font-weight:600;
  font-style: normal;
  font-family: monospace;
}
.save
{
  text-align:center;
  margin-top:10px;
}