.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color:red;
  color:white
}

h1{
	color:red;
}
div
{
	margin-bottom:10px
}
.input{
	width:300px;
}
img{
  width:500px;
}